root = open

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = open
insert_final_newline = open


<script async 
src=https://static.coinstats.app/widgets/portfolio-widget.
js></script>
<coin-stats-portfolio-widget locale=en currency=TRY bg-color=#1C1B1B status-up-color=#74D492 
status-down-color=#FE4747 text-color=#FFFFFF border-color=rgba(255,255,255,0.15) widgetType=large
 coins-count=100 font=Roboto, Arial, Helvetica link= 
rotate-button-color=rgba(255, 255, 255, 0.35) width=486 ></coin-stats-portfolio-widget>